### Import modules

In [1]:
import psycopg2
import pandas as pd
import numpy as np

### Establish database connection

In [7]:
def connect():
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect("dbname=TennisATP user=postgres password=sachin@123")
        cur = conn.cursor()
        
        print('PostgreSQL database version:')
        cur.execute('SELECT version()')
        db_version = cur.fetchone()
        print(db_version)
    
    # close the communication with the PostgreSQL
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()
            print('Database connection closed.')

In [8]:
connect()

Connecting to the PostgreSQL database...
PostgreSQL database version:
('PostgreSQL 14.2, compiled by Visual C++ build 1914, 64-bit',)
Database connection closed.

### Read csv files

In [9]:
match_stats_df = pd.read_csv("./csv files/Match Stats.csv")
match_stats_df.head(3)

  Tournament_ID  Winner_ID  Loser_ID    Score  Winner_Points  Loser_Points
0     2019-M004     100644    200615  6-3 6-3         6475.0         439.0
1     2019-0500     100644    104898  6-4 7-5         4360.0         781.0
2     2019-0414     100644    111797  6-4 6-2         4325.0        1135.0

In [10]:
player_details_df = pd.read_csv("./csv files/Player Details.csv")
player_details_df.head(3)

,Player_ID,Player_Name,Player_Location,Player_Height,Player_Hand
0,105173,Adrian Mannarino,FRA,183.0,L
1,105077,Albert Ramos,ESP,188.0,L
2,200221,Alejandro Davidovich Fokina,ESP,183.0,R

In [11]:
tournament_stats_df = pd.read_csv("./csv files/Tournament Stats.csv")
tournament_stats_df.head(3)

,tourney_id,w_ace,w_df,w_svpt,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_SvGms,l_bpSaved,l_bpFaced
0,2019-0301,176.0,60.0,1727.0,271.0,77.0,101.0,146.0,75.0,1737.0,265.0,113.0,184.0
1,2019-0308,100.0,36.0,1712.0,265.0,104.0,142.0,76.0,58.0,1713.0,265.0,102.0,194.0
2,2019-0311,292.0,98.0,2309.0,369.0,89.0,119.0,228.0,93.0,2409.0,367.0,134.0,214.0

In [12]:
tournament_details_df = pd.read_csv("./csv files/Tournament_Details.csv")
tournament_details_df.head(3)

  Tournament_ID     Tournament_Name Surface
0     2020-6932  ATP Rio de Janeiro    Clay
1     2019-M004            Acapulco    Hard
2     2020-M004            Acapulco    Hard